.about-container {
  // display: flex;
  // justify-content: space-between;
  max-width: 900px;
  width: 100%;
  margin: 0px auto;
  padding-top: 50px;
  padding-left: 16px;
  padding-right: 16px;
  color: #232323;
  font-size: 15px;

  .about {
    flex: 1;
    border-bottom: 1px #dedede solid;
    margin-bottom: 40px;
  }

  .name {
    width: 33%;
  }

  .line {
    display: flex;
    margin-bottom: 15px;
  }

  .addredd {
    margin-bottom: 15px;
  }


  .wechatimg {
    vertical-align: middle;
    height: 100px;
  }
}